## Remove ipynb checkpoints
.ipynb_checkpoints
*/.ipynb_checkpoints/*

## Hide untitled files
[Uu]ntitled*

## Hide log files
*.log

## Do not sync answers
solved-*

## Do not sync pipeline folders

**/pipeline/**

## Do not sync prep folders

**/prep/**

## Do not sync demonstrations
demonstration/

## Avoid syncing "dontsync" folders
dontsync
*/dontsync/*

## Do not sync PowerPoint files
*.ppt
*.pptx

## Other
debug.log
problems.zip
solved.zip
solved/**

## Temporary to avoid confusion
problems/session_[6789]/**
!problems/session_[6789]/placeholder.tbd

**/x_old**


